body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section {
    background-color: rgba(238, 55, 23, 0.812);
}

.hero {
    background-color:rgba(238, 55, 23, 0.812);
    height: 100vh;
    color: #d8d4d4;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}
.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}
.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(182, 45, 45);
    text-align:center;
    font-size: 30px;
    font-weight: 300px;
    margin-top: 20px;
    padding-top: 5px;
    line-height: 20px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: #a9a9a9;
    color: #808080;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.logo{
    height: 60px;
    margin: 30px;
}

.socials{
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

/*This styles the sub section and contact*/

.sub-section{
    display:flex;
    justify-content: space-around;
    padding: 80px;
}

h2{
    font-size: 50px;
}

.headshot{
    width: 300px;
    border-radius: 300px;
}

.headshot-container{
    display: flex;
    align-items: center;
}

.project-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(39, 38, 38);
    margin: 10px;
} 

.project-container{
    display: flex;
    justify-content: space-around;
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
} 

.project-link {
    text-decoration: none;
    color: #E7F6F2;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #E7F6F2;
}

@media only screen and (max-width:1000px){
    .project-container{
        display: flex;
        flex-wrap: wrap;}
ul{
    display: none;
    }
}
